<div class="zoom-welcome d-flex flex-column justify-content-center align-items-center w-100 mx-auto fs-1 fw-semibold"
    style="letter-spacing: 3px;">
    <p>Welcome</p>
    <p>to</p>
    <p>Personalized</p>
    <p>Zoom</p>
</div>
<div
    class="zoom-goto-dashboard d-flex flex-column justify-content-center align-items-center w-100 mx-auto fs-1 fw-semibold">
    <a href="/user/dashboard" class="btn btn-outline-primary" style="letter-spacing: 3px;">Dashboard <i
            class="bi bi-arrow-right-square"></i></a>
</div>