<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Recorder</title>
</head>
<body>
    <div>
        <a href="/create-meeting">Create Meeting</a>
        <a href="/list-meeting">List Meeting</a>
        <a href="/join-meeting">Join meeting</a>
        <a href="/zak-token">Zak token</a>
        <a href="/record">Record</a>
    </div>
</body>
</html>